@use '@/styles/variables' as variables;

.signup-button {
  width: 100%;
  padding: 12px 16px;
  background-color: variables.$color-primary;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: variables.$radius-sm;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$color-primary;
  }

  &:disabled {
    background-color: variables.$color-primary-light;
    cursor: not-allowed;
  }
}