IMAGE_TAG=v1

NGINX_PORT=80
POSTGRES_PORT=5432
MONGO_PORT=27017

POSTGRES_USER=ecommerce
MONGO_INITDB_ROOT_USERNAME=ecommerce

POSTGRES_PASSWORD_FILE=./secrets/postgres_password.example
MONGO_PASSWORD_FILE=./secrets/mongo_password.example

REDIS_CACHE_TTL_SECONDS=60
