@use "@/styles/variables" as variables;

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  width: 530px;
  min-height: 320px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid white;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  color: white;
  margin-top: 200px;
  place-items: center;
}


.input-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

.input {
  padding: 10px 12px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;

}

.input:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
}



.error {
  color: red;
  font-size: 14px;
  width: 300px;
}

.signup-button {
  cursor: pointer;
  margin-top: 8px;
  padding: 12px;
  border-radius: 10px;
  background-color: variables.$color-secondary;
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background-color: variables.$color-secondary;
  }
}

.signup-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}