@use "@/styles/variables";

.toast {
  position: fixed;
  display: flex;
  bottom: 100px;
  right: 20px;
  min-width: 260px;
  max-width: 360px;
  padding: 16px;
  border-radius: 8px;
  background-color: variables.$color-success;
  animation: slideInFromRight 0.35s ease-out forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.toast button {
  margin-left: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}