@use "@/styles/variables.scss";


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: variables.$color-primary;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: variables.$color-danger;
}